 /*h1 {
    background-color: aquamarine;
}
h2{
    background-color: rgb(161, 100, 7);
}
ul{
    background-color: rgb(214, 212, 208);
}*/
#first{
    background-color:aquamarine ;
}
#sec{
    background-color: green;
}
.third{
    background-color: blueviolet;
}